@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: "Lato";
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
/*  
input[type="text"]:focus {
  border: none !important;
  outline: none !important;
  outline-offset: 0;
  box-shadow: none;
}

input[type="tel"]:focus {
  border: none !important;
  outline: none !important;
  outline-offset: 0;
  box-shadow: none;
}

input[type="email"]:focus {
  border: none !important;
  outline: none !important;
  outline-offset: 0;
  box-shadow: none;
}

textarea:focus {
  border: none !important;
  outline: none !important;
  outline-offset: 0;
  box-shadow: none !important;
}*/

/* .menu-moblie */
.menu-moblie {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(53, 222, 127, 0.4);
}

/* .menu-moblie li */
.menu-moblie li {
  padding: 8px 16px; /* Thay thế px-2 py-3 */
  border-bottom: 2px solid #ccc; /* Thay thế border-b-2 */
}

/* .menu-moblie li:first-child */
.menu-moblie li:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    135deg,
    #f6993f 0%,
    #8b5cf6 100%
  ); /* Thay thế first:bg-linear-Yellow-Green */
}

/* .menu-moblie li a */
.menu-moblie li a {
  width: 100%;
  display: block;
  max-width: 13rem; /* Thay thế first:max-w-[13rem] */
}

/* .menu-moblie li a:hover */
.menu-moblie li a:hover {
  color: #0a9949; /* Thay thế hover:text-linear-green */
}
